.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("/assets/img/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.slider {
  min-width: calc(100% - 300px);
  height: 100%;
  /* background: blue; */
}

.slide {
  width: 100%;
}

.login-form {
  width: 350px;
  /* min-width: 400px; */
  height: 100%;
  background: #0371bd;
  display: table;
}

.container-form {
  /* display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: rgba(255, 254, 254, 0.2);
  backdrop-filter: blur(20px); */
  width: 350px;
  /* min-width: 360px; */
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(158 150 150 / 20%);
  backdrop-filter: blur(20px);
  overflow: hidden;
}

::ng-deep .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 100%;
}

.img {
  padding: 0px 0px 30px 0px;
  width: 85%;
  height: 100px;
  margin: 0px auto
}

.inputs {
  display: flex
}


/* .inputs ::ng-deep.mat-form-field-underline {
  background-color: white ;
}

.inputs ::ng-deep.mat-form-field-ripple {
  background-color: white ;
}

.inputs  ::ng-deep .mat-focused .mat-form-field-label {
  color: white ;
} */

.input {
  padding-left: 20px;
  width: 100%;
  color: white
}

.inputs ::ng-deep .mat-form-field-placeholder {
  color: white;
}

.icon {
  padding-top: 11px;
  color: white;
}

.btn {
  width: 80%;
  margin: 0px auto;
  background: white;
  color: black;
}

.title {
  font-size: 25px;
  font-family: 'Titillium Web';
  text-align: center;
  font-weight: 800;
  color: white;
}

.title2 {
  font-size: 25px;
  font-family: 'Titillium Web';
  text-align: center;
  font-weight: 800;
  color: white;
}

.subtitle {
  font-size: 14px;
  font-family: 'Titillium Web';
  text-align: center;
  font-weight: 600;
  color: black;
  margin: 0px;
}

.forgot {
  display: block;
  color: white;
  cursor: pointer;
  margin-top: 25px;
  font-family: 'Titillium Web';
}

.forgot:hover {
  transition: .3s;
  color: #ff4081
}


/* KelpRegular */

@media only screen and (max-width: 660px) {
  .slider {
      min-width: calc(100% - 150px);
      height: 100%;
      /* background: blue; */
  }
  .container-form {
      width: 200px;
      /* min-width: 400px; */
      height: 100%;
      /* background: #0371bd;
      display: table; */
  }
}

@media only screen and (max-width: 550px) {
  .slider {
      display: none;
  }
  .container-form {
      width: 100%;
  }
}
